<h4>Download</h4>
<hr>
<a href="#">
  <div class="panel radius callout" style="text-align: center">
    <strong>As an ePub</strong>
  </div>
</a>

<a href="#">
  <div class="panel radius callout" style="text-align: center">
    <strong>As a PDF</strong>
  </div>
</a>
<br>
<h4>Frameworks</h4>
<hr>
<p>
  Several frameworks have been developed based on the Chain of Command pattern including:
</p>
<ul>
  <li><a href="#">Cookoo</a></li>
  <li><a href="#">Fortissimo</a></li>
  <li><a href="#">Pronto.js</a></li>
</ul>